* {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

.App {
  margin: 1%;
  /* padding: 2%; */
}
.navbar-brand {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: column;
}
.navClosure {
  color: white !important;
  background-color: #46acc2;
  /* padding: 1%; */
  font-family: roboto;
  width: 100%;
  z-index: 12;
  top: 0;
  left: 0;
}

.icon {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
}

.navInfo {
  display: flex;
  flex-direction: column;
}
.navAnker {
  text-decoration: none;
  color: white;
}
.showNav {
  display: none;
}
.circular-image {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 4%;
}
/* .circular-image1 {
} */

.about {
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
}
.about1 {
  margin-top: 5%;
  /* flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; */
  max-width: 50%;
}
.socials {
  display: flex;
  /* margin: auto; */
  margin-top: 2%;
}
.socialIcon {
  color: black;
  padding: 5px;
}
.iconSize {
  font-size: large;
}
.skillIcon {
  font-size: 30px;
  color: rgb(30, 30, 71);
  padding-left: 50%;
}
ul {
  list-style: none;
  text-align: left;
  /* width: 40%; */
  position: relative;
}
.iconFlex {
  position: relative;
  width: 80%;
  margin: auto;
  margin-top: -25px;
}
.skill {
  text-align: center;
  margin-top: 2%;
  position: relative;
}
.skill ul.skillIcon2 li::before {
  content: "▹";
  position: relative;
  color: green;
  font-size: large;
  left: -8px;
  bottom: -3px;
  /* padding-left: -4px; */
  /* line-height: 12px; */
}
.skillIcon2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  margin-left: 5%;
  /* flex-flow: row wrap;
  justify-content: space-around;
  order: 3; */
  /* width: 50%; */
  /* cursor: pointer; */
}
.skillIcon2 li > p {
  /* border: 1px solid grey; */
  position: absolute;
  /* width: 20%; */
  /* border-radius: 20px; */
}
.skillIcon2 > li {
  /* width: 10%; */
  margin-bottom: -10px;
  padding: 5px;
  /* align-self: center;
  justify-items: center; */
  /* padding-left: 30px; */
  /* margin-right: 10px; */
  /* padding-top: 3%; */
}
.cardProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  margin: 2% auto;
}
.animateText {
  font-family: sans-serif;
  font-weight: 100;
  /* font-size: 20px; */
  text-align: center;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh; */
  width: 300px;
  margin-left: -10px;
  margin-top: -10px;
}

.footerIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  font-size: 20px;
  margin: 0 auto;
}
.footerStyle {
  text-align: center;
}
.footerStyle > p {
  width: 350px;
  margin: 0 auto;
}
footer {
  background-color: #262a2e;
  color: #f0f2f5;
}

/* Tablet-reponsive design */
@media (min-width: 768px) {
  .showNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .icon {
    display: none;
  }
  .navAnker {
    padding: 8px 5px 2px 10px;
    margin-top: -28px;
  }
  .cardProject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order: 2;
    /* justify-content: center; */
  }
  .card {
    margin: 2%;
  }
}
