*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100%;
  /* Arial, Helvetica, sans-serif  */
  font-family: Arial, Helvetica, sans-serif, "Roboto";
  background-color: #f0f2f5;
  color: #262a2e;
  /* margin: 0px; */
  line-height: 1.5;
  font-size: 1rem;
  overflow-x: hidden;
}
.App {
  position: relative;
  min-height: 100vh;
}

.aboutHeader {
  margin-left: 2%;
}

h4 {
  /* color: #552ea1; */
  font-size: 20px;
}
h6 {
  /* color: black; */
  font-size: 15px;
  letter-spacing: 2px;
}
h5 {
  /* color: black; */
  font-size: 20px;
  letter-spacing: 2px;
}
/* .about1 {
  width: 85vw;
} */
.prjtTitle {
  color: #b72d17;
}

.prjtDesc {
  color: black;
  border-radius: 10px;
  padding: 5px;
}

main.relativeToNav {
  position: relative;
  min-height: 5vh;
}

main.relativeToNav {
  position: relative;
  min-height: 5vh;
}

.img1 {
  margin-top: 2%;
  display: flex;
  margin-left: 5%;
}

.icon {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
  font-size: 27px;
  border-color: transparent;
  background: transparent;
}
.techList-li {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  width: 100vw;
  background-color: #242e2e;
  color: white;
  border-color: transparent;
}
.hamburgerIcon:before {
  font-size: 5px;
}

.showNav {
  height: 7rem;
}
a {
  text-decoration: none;
  color: white;
}

.btnProject {
  margin-top: 5vh;
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  border-radius: 10%;
  border-color: transparent;
  background-color: rgb(26 26 26);
  color: #f6f7f9;
  margin-left: 18%;
}

.about {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.iconSize {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
}

.socialIcon {
  color: black;
  padding: 5px;
}

.skillIcon {
  font-size: 30px;
  color: rgb(30, 30, 71);
  padding-left: 50%;
}
ul {
  list-style: none;
  text-align: left;
}
.iconFlex {
  position: relative;
}

.skill ul.skillIcon2 li::before {
  content: "▹";
  position: relative;
  color: green;
  font-size: large;
  left: -8px;
  bottom: -3px;
}
.skillIcon2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  margin-left: 5%;
}
.skillIcon2 li > p {
  position: absolute;
}
.skillIcon2 > li {
  margin-bottom: -10px;
  padding: 5px;
}

.cardBuilt {
  width: 350px;
  height: 100%;
  border: 1px solid transparent;
  padding: 10px;
  margin: 5px 0px 15px 0px;
  /* margin: 10px auto; */
  transition: 0.25s ease-out;
  border-radius: 30px;
  color: #000000;
  background-color: #e7e9eb;
}
.cardBuilt:hover {
  transform: scale(1.1);

  margin: 20px 0px 20px 0px;
}

.cardLayout {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* margin: 35px; */
}
.prjtTemp {
  margin: 30px;
}
/* new  */
.cardSection {
  margin: 0px auto;
}
.tech-list {
  display: flex;
}
.tech-list li {
  margin: 0px 10px 5px 0px;
}

.cardIcon {
  margin-bottom: 15px;
}
.cardIcon a {
  color: black;
  font-size: 30px;
  margin: 0px 5px 0px 0px;
}
.cardProject {
  margin-top: 12%;
}

.animateText {
  font-weight: 70;
  display: flex;
  width: 300px;
  margin-left: 2px;
  margin-top: -10px;
}

.articlePage {
  margin-top: 10%;
  padding-bottom: 20.5rem;
}
/* .prjtTempt {
  margin: 5%;
} */

.footerIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  font-size: 20px;
  margin: 0 auto;
}
.footerIcon a {
  text-decoration: none;
  color: inherit;
  font-size: x-large;
  padding: 10px;
}
.footerStyle {
  text-align: center;
}
.footerStyle > p {
  width: 350px;
  margin: 0 auto;
}

/* to make horizontal scroll enabled for small devices */
@media (max-width: 600px) {
  /* .App {
    overflow-x: auto;
  } */
  .skillIcon2 {
    grid-template-columns: repeat(2, minmax(140px, 200px));
  }
  .cardBuilt {
    width: 300px;
  }
}

@media (min-width: 722px) {
  /* .about1 {
    max-width: 65%;
  } */
}

/* Tablet-reponsive design */
@media (min-width: 768px) {
  .icon {
    display: none;
  }
  /* .navAnker {
    margin-top: -28px;
  } */

  .cardBuilt:hover {
    width: 320px;
    height: 60%;
    margin: 10px 0px 0px 10px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 10px;
    row-gap: 10px;
  }
  .profileAbout {
    width: 85%;
  }

  .about {
    margin-top: 7%;
  }
  /* .navbar-brand {
    margin: -1px;
  } */
}

@media (min-width: 840px) {
  .cardLayout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
  }
  .cardBuilt:hover {
    transform: scale(1.1);
    height: 100%;
  }
}

@media (min-width: 992px) {
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    column-gap: 10px;
    grid-row-gap: 10px;
    row-gap: 10px;
  }

  .cardProject {
    margin-top: 5%;
  }
  .profileAbout {
    width: 60vw;
  }
  .houseDiv {
    width: 90vw;
  }
}

@media (min-width: 1200px) {
  .cardBuilt:hover {
    width: 450px;
    height: 35vh;
    margin: 20px;
  }
  .cardBuilt {
    width: 450px;
  }
  .houseDiv {
    width: 80vw;
  }
  /* .about1 {
    max-width: 40%;
  } */

  /* .circular-image {
    margin-top: 7%;
    margin-left: 5%;
  } */
  .profileAbout {
    width: 55%;
  }
  .skillIcon2 {
    margin-left: 2%;
  }
  .aboutHeader {
    margin-left: 5%;
  }

  .cardLayout {
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    margin: 2%;
    gap: 50px;
    width: 70%;
  }
  .cardBuilt:hover {
    height: 100%;
  }
  .btnProject {
    margin-left: 40%;
    margin-top: 5%;
  }
}
