* {
  padding: 0;
  margin: 0;
}

.App {
  /* font-size: 25px; */
  width: 100%;
  min-height: 100%;
  font-family: "Calibre", "Georgia", "Times New Roman", "Times", "serif";
  /* line-height: 1.3; */
  background-color: #f0f2f5;
  color: #262a2e;
  margin: 0px;
  overflow-x: hidden;
}

.profileAbout {
  /* margin: 0 auto; */
  padding: 20px;
}

.navbar-brand {
  text-decoration: none;
}
.nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.navClosure {
  color: white !important;
  background-color: #46acc2;
  /* padding: 1%; */
  width: 100%;
  /* position: fixed; */
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
}
.img1 {
  margin-top: 30px;
}

.icon {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
}
.hamburgerIcon:before {
  font-size: 5px;
  /* height: 20px; */
}

.navInfo {
  display: flex;
  flex-direction: column;
}
.navAnker {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.showNav {
  display: none;
}
.circular-image {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -12%;
  margin-left: 40%;
}
.big-heading {
  font-size: 27px;
}

.about {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 2%;
  flex-direction: column;
  /* margin-top: 5%; */
}
.about1 {
  margin-top: 5%;
  /* flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; */
  max-width: 50%;
}
.socials {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.socialIcon {
  color: black;
  padding: 5px;
}
.iconSize {
  font-size: large;
}
.skillIcon {
  font-size: 30px;
  color: rgb(30, 30, 71);
  padding-left: 50%;
}
ul {
  list-style: none;
  text-align: left;
  /* width: 40%; */
  /* position: relative; */
}
.iconFlex {
  position: relative;
  width: 80%;
  margin: 0px auto;
  margin-top: -25px;
}
.skill {
  text-align: center;
  margin-top: -8%;
  position: relative;
}
.skill ul.skillIcon2 li::before {
  content: "▹";
  position: relative;
  color: green;
  font-size: large;
  left: -8px;
  bottom: -3px;
  /* padding-left: -4px; */
  /* line-height: 12px; */
}
.skillIcon2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  margin-left: 5%;
}
.skillIcon2 li > p {
  /* border: 1px solid grey; */
  position: absolute;
  /* width: 20%; */
  /* border-radius: 20px; */
}
.skillIcon2 > li {
  margin-bottom: -10px;
  padding: 5px;
}

.cardBuilt {
  width: 85vw;
  height: 50%;
  border: 1px solid black;
  margin: 5px 0px 15px 0px;
  /* align-items: center; */
}
.cardLayout {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardSection {
  margin: 0px auto;
}
.tech-list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.tech-list li {
  margin: 0px 10px 5px 0px;
}
.cardContent {
  margin-left: 20px;
}
.cardIcon {
  margin-bottom: 15px;
}
.cardIcon a {
  color: black;
  font-size: 30px;
  margin: 0px 5px 0px 0px;
}
.cardProject {
  margin-top: 12%;
}
/* .card {
  margin: 2% auto;
} */
/* .iconProject > a {
  margin-left: 20px;
  font-size: 25px;
  color: black;
} */
.animateText {
  font-weight: 70;
  display: flex;
  width: 300px;
  margin-left: 2px;
  margin-top: -10px;
}

.footerIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
  font-size: 20px;
  margin: 0 auto;
}
.footerStyle {
  text-align: center;
}
.footerStyle > p {
  width: 350px;
  margin: 0 auto;
}
footer {
  background-color: #262a2e;
  color: #f0f2f5;
  width: 100%;
}

/* Tablet-reponsive design */
@media (min-width: 768px) {
  .showNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .icon {
    display: none;
  }
  .navAnker {
    padding: 8px 5px 2px 10px;
    margin-top: -28px;
  }
  .cardBuilt {
    width: 40vw;
    height: 58vh;
    border: 1px solid black;
    margin: 5px 0px 15px 0px;
    /* align-items: center; */
  }
  .cardContent {
    margin-left: 10px;
  }
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 15px;
  }
  .profileAbout {
    width: 80vw;
  }
}

/* Mini large Screen @ 992px */
@media (min-width: 992px) {
  .skill {
    margin-top: -3%;
    margin-left: 40px;
    position: relative;
  }
  .skill > h4 {
    margin-left: -75vw;
  }
  .skillIcon2 {
    margin-left: -10.5vw;
  }
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  .cardBuilt {
    width: 30vw;
    height: 58vh;
  }
  .cardProject {
    margin-top: 8%;
  }
  .profileAbout {
    width: 60vw;
  }
}

@media (min-width: 1200px) {
}
